<h2>Celebrity list</h2>

<div>
    <a href="/celebrities">Celebrities List</a>
</div>
<div>
    <a href="/celebrities/create">Create a New Celebrity</a>
</div>
<div>
    <a href="/movies">Movies List</a>
</div>
<div>
    <a href="/movies/create">Create a New Movie</a>
</div>
{{#each allCelebrities}}
<div>
    {{name}}
</div>
{{/each}}
